@charset "UTF-8";

@import url("./icons.css") layer(icons);

:root {
	scrollbar-color: blueViolet transparent;
}

h1, h2, h3, h4, h5, h6, strong, b {
	font-weight: 600;
}

label, button, summary, select, option {
	cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: unset;
}

button, input, textarea, select, option {
	font-size: unset;
	font-family: unset;
	font-weight: unset;
	background: unset;
	color: unset;
	margin: unset;
	border: unset;
	padding: unset;
}

ul {
	margin: unset;
	padding: unset;
	list-style: none;
}

a {
	color: unset;
	text-decoration: unset;
}

dialog {
	inset: 0;
	margin: auto;
	border: none;
	border-radius: .5rem;
}

::selection {
	background-color: mediumSpringGreen;
	color: black;
}

@media (hover: none) {
	:any-link, button, summary, label {
		-webkit-tap-highlight-color: transparent;
	}

	::-webkit-scrollbar {
		display: none;
	}
}

::-webkit-scrollbar {
	inline-size: 1rem;
	block-size: 1rem;
}

::-webkit-scrollbar-button:start:increment, ::-webkit-scrollbar-button:end:decrement {
	display: none;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {
	background-color: blueViolet;
	inline-size: 1rem;
	block-size: 1rem;
	border: .25rem solid transparent;
	border-radius: .5rem;
	background-clip: padding-box;
}

::-webkit-scrollbar-corner {
	background: none;
}
