@charset "UTF-8";

@import url("./icons.css") layer(icons);

/* Latin Modern Math font: */

@font-face {
	font-family: "Latin Modern Math";
	font-display: swap;
	src: local("Latin Modern Math"), local("LatinModernMath-Regular"), url("../assets/latinmodern-math/normal.otf");
	/* Source: https://tug.org/svn/texlive/trunk/Master/texmf-dist/fonts/opentype/public/lm-math/latinmodern-math.otf?revision=36915 */
}

/* Computer Modern Serif font: */

@font-face {
	font-family: "Computer Modern Serif";
	font-display: swap;
	src: local("Computer Modern Serif"), url("../assets/computer-modern/normal.otf");
	/* Source: https://ctan.org/tex-archive/fonts/cm-unicode/fonts/otf/cmunrm.otf */
}

@font-face {
	font-family: "Computer Modern Serif";
	font-display: swap;
	font-weight: bold;
	src: local("Computer Modern Serif"), url("../assets/computer-modern/bold.otf");
	/* Source: https://ctan.org/tex-archive/fonts/cm-unicode/fonts/otf/cmunrb.otf */
}

@font-face {
	font-family: "Computer Modern Serif";
	font-display: swap;
	font-style: italic;
	src: local("Computer Modern Serif"), url("../assets/computer-modern/italic.otf");
	/* Source: https://ctan.org/tex-archive/fonts/cm-unicode/fonts/otf/cmunti.otf */
}

@font-face {
	font-family: "Computer Modern Serif";
	font-display: swap;
	font-style: italic;
	font-weight: bold;
	src: local("Computer Modern Serif"), url("../assets/computer-modern/bold-italic.otf");
	/* Source: https://ctan.org/tex-archive/fonts/cm-unicode/fonts/otf/cmunbi.otf */
}

math {
	font-family: "Latin Modern Math", math;
}

h1, h2, h3, h4, h5, h6, strong, b {
	font-weight: 600;
}

label, button, summary, select, option {
	cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: unset;
}

h1 {
	font-size: 1.8em;
}

button, input, textarea, select, option {
	font: unset;
	background: unset;
	color: unset;
	margin: unset;
	border: unset;
	padding: unset;
}

input, textarea {
	cursor: auto;
}

ul {
	margin: unset;
	padding: unset;
	list-style: none;
}

a {
	color: unset;
	text-decoration: unset;
}

dialog {
	inset: 0;
	margin: auto;
	border: none;
	padding: 1rem;
}

::view-transition-image-pair(*), ::view-transition-old(*), ::view-transition-new(*) {
	animation-timing-function: inherit;
}

::selection {
	background-color: var(--color);
	color: var(--background);
}

@media (hover: none) {
	::-webkit-scrollbar {
		display: none;
	}
}

::-webkit-scrollbar, ::-webkit-scrollbar-corner {
	inline-size: .8rem;
	block-size: .8rem;
	background: none;
}

::-webkit-scrollbar-button:start:increment, ::-webkit-scrollbar-button:end:decrement {
	display: none;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {
	background-color: var(--scrollbar-color);
	inline-size: .8rem;
	block-size: .8rem;
	border: .2rem solid transparent;
	border-radius: .4rem;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-button:hover {
	background-color: var(--scrollbar-hover-color);
}
