@charset "UTF-8";

@import url("./icons.css") layer(icons);

:root {
	color-scheme: dark light;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

label, button, summary, select, option {
	cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: unset;
}

button, input, textarea, select, option {
	font-size: unset;
	font-family: unset;
	font-weight: unset;
	background: unset;
	color: unset;
	margin: unset;
	border: unset;
	padding: unset;
}

ul {
	margin: unset;
	padding: unset;
	list-style: none;
}

a {
	color: unset;
	text-decoration: unset;
}

@media (hover: none) {
	:any-link, button, summary, label {
		-webkit-tap-highlight-color: transparent;
	}
}

